@import "global";
@import "reset";
@import "fonts";

.header {
    &__content {
        margin-top: 79px;
        display: flex;
        justify-content: space-between;
    }
    &__burger {
        display: none;
        
    }
}

.logo {
    margin-right: 44px;
}

.header-menu {
    margin-right: auto;
}

.menu {
    &__list-item {
        display: inline-block;
        margin: 10px;
    }
}

.main-page {
    &__columns {
        display: flex;
    }

    &__left-column {
        max-width: 530px;
        margin-top: 135px;
    }

    &__image {
        position: relative;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__img-dec {
        position: absolute;
        top: 15px;
        left: 80px;
    }

    &__title {
        color: #99efd0;
        font-weight: 700;
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 19px;
    }

    &__text {
        color: #8476aa;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 40px;
    }
    &__parterns {
        position: relative;
        z-index: 50;
    }
}

.video-block {
    margin-top: 70px;
    margin-bottom: 103px;
    display: flex;

    &__video {
        width: 140px;
        height: 80px;
        background-color: #361c5d;
        position: relative;
        text-align: center;
    }

    &__video-img {
        left: 32px;
        top: 16px;
        display: block;
        position: absolute;
        text-align: center;
    }

    &__text {
        margin-left: 20px;
        display: block;
    }

    &__title {
        color: #8476aa;
        margin-bottom: 6px;
        font-size: 16px;
        line-height: 22px;
    }

    &__watch {
        color: #6d6d78;
        font-size: 14px;
        line-height: 22px;
    }
}

.partners-item {
    margin: 0 35px;
    margin-bottom: 100px;
}

.choice {
    &__title {
        text-align: center;
        font-size: 42px;
        line-height: 50px;
        color: #99efd0;
    }

    &__subtitle {
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: #8476aa;
        margin-bottom: 50px;
    }
}

.choice-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 0;
    margin-bottom: 160px;

    &__item-img {
        display: inline-block;
        margin-right: 28px;
    }

    &__item {
        max-width: 300px;
        display: flex;
        align-items: flex-start;
    }

    &__item-title {
        font-size: 18px;
        line-height: 22%;
        color: #99efd0;
        margin-bottom: 10px;
    }

    &__item-text {
        font-size: 14px;
        line-height: 22px;
        color: #8476aa;
    }
}

.increase {
    &__content {
        display: flex;
        justify-content: space-between;
        max-height: 287px;
    }

    &__title {
        margin-top: 55px;
        font-size: 42px;
        line-height: 50px;
        font-weight: 700;
        color: #99efd0;
        margin-bottom: 32px;
    }

    &__subtitle {
        font-size: 15px;
        line-height: 28px;
        color: #8476aa;
        margin-bottom: 43px;
    }

    &__button {
        margin-bottom: 240px;
    }

    &__content-left {
        max-width: 420px;
    }

    &__content-right {
        position: relative;
        max-height: 414px;
    }

    &__content-right-left {
        position: absolute;
        left: 0;
        left: -106px;
    }

    &__content-right-right {
        position: absolute;
        bottom: -40px;
        left: -15px;
    }
}

.ways {
    position: relative;
    &__img {
        position: absolute;
        left: -250px;
        top: -300px;
    }
    margin-top: 240px;
    margin-bottom: 169px;

    &__title {
        color: #99efd0;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        margin-bottom: 32px;
    }

    &__subtitle {
        color: #8476aa;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        max-width: 414px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        max-width: 290px;
        text-align: center;
    }

    &__item-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #99efd0;
        margin-bottom: 16px;
    }

    &__item-subtitle {
        font-size: 15px;
        line-height: 20px;
        color: #8476aa;
    }
}

.create {
    text-align: center;

    &__title {
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        color: #99efd0;
        max-width: 770px;
        margin: 0 auto 46px;
    }

    &__img {
        max-height: 1200px;
        position: relative;
        z-index: -5;
    }

    &__imgage-cr {
        position: relative;
    }

    &__img-srcbg {
        margin: 20px auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 10;
    }

    &__img-srcdec {
        width: 70%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        right: 0;
        top: -90px;
        left: 20%;
        bottom: 0;
        position: absolute;
    }
}

.button-pagecreate {
    margin: 0;
}

.invest {
    &__content {
        display: flex;
        justify-content: space-between;
        max-height: 414px;
        margin-bottom: 190px;
    }

    &__title {
        margin-top: 55px;
        font-size: 42px;
        line-height: 50px;
        font-weight: 700;
        color: #99efd0;
        margin-bottom: 32px;
    }

    &__subtitle {
        font-size: 15px;
        line-height: 28px;
        color: #8476aa;
        margin-bottom: 43px;
    }

    &__button {
        margin-bottom: 240px;
    }

    &__content-left {
        max-width: 420px;
    }

    &__content-right {
        position: relative;
        max-height: 414px;
    }
}

.content-right {
    &__mainbg-img {
        position: absolute;
        top: 0;
        left: -140px;
        z-index: -5;
    }
    &__main-leftimg {
        position: absolute;
        left: -90px;
        top: 20%;
    }

    &__main-rightimg {
        position: absolute;
        bottom: 0;
        bottom: 103px;
    }
}

.help {
    margin-bottom: 196px;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    &__content-right {
        max-width: 480px;
    }

    &__title {
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: #99efd0;
        margin-bottom: 32px;
    }

    &__subtitle {
        font-size: 15px;
        line-height: 20px;
        color: #8476aa;
        margin-bottom: 48px;
        max-width: 414px;
    }

    &__items {
        display: flex;
        max-width: 480px;
    }

    &__item {
        max-width: 224px;
    }

    &__item:first-child {
        margin-right: 42px;
    }

    &__item-img {
        display: block;
        margin-bottom: 16px;
    }

    &__item-title {
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #99efd0;
    }

    &__item-subtite {
        font-size: 15px;
        line-height: 20px;
        color: #848484;
    }
}

.reasons {
    padding-bottom: 185px;
    &__block {
        background: rgba(60, 62, 125, 0.19);
        backdrop-filter: blur(134px);
        border-radius: 5px;
    }

    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        padding-top: 50px;
        margin-bottom: 20px;
    }

    &__subtitle {
        text-align: center;
        align-items: center;
        margin: 0 auto;
        max-width: 396px;
        font-size: 16px;
        line-height: 22px;
        color: #95a1bb;
        margin-bottom: 23px;
    }
    &__input-block {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }
    &__email {
        display: block;
        background: rgba(246, 246, 246, 0.1);
        border-radius: 5px;
        border: transparent;
        width: 288px;
        font-weight: 400;
        font-size: 14px;
        padding: 18px 16px;
        color: #bbbbbb;

        &::placeholder {
            color: #bbbbbb;
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__button {
        display: inline-block;
        border-radius: 0px;
        height: 56px;
        width: 158px;
        margin: 0;
        padding: 18px 0;
    }

    &__reminder {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: #8476aa;
        padding-bottom: 52px;
    }
}

.footer {
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 94px;
    }

    &__pages {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }
}
.top {
    &__title {
        display: block;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: #f2994a;
    }

    &__socials-link {
        margin: 0 8px;
    }
}
.pages {
    &__item-title {
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #ffffff;
        margin-bottom: 25px;
    }

    &__item-text {
        margin: 8px 0;
        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
    }
}
.copy {
    margin-bottom: 100px;
    &__items {
        display: flex;
        justify-content: center;
    }

    &__items-item {
        margin: 0 17px;
        font-size: 14px;
        line-height: 20px;

        color: #8d8d8d;
    }
}

@import "media";
