%montserrat-light
    font-family: "Montserrat", sans-serif
    font-weight: 300
%montserrat-regular
    font-family: "Montserrat", sans-serif
    font-weight: 400
%montserrat-bold
    font-family: "Montserrat", sans-serif
    font-weight: 700
%grishenko-opiyat-nbp
    font-family: "Grishenko Opiyat NBP"
    font-weight: 400