$color-primary: #415167
$color-accent: #C7A17A
$color-accent-light: #F9F5E8
$color-dark-gray: #151D28
$color-light-gray: #EDF0F5

%montserrat-light
    font-family: "Montserrat", sans-serif
    font-weight: 300
%montserrat-regular
    font-family: "Montserrat", sans-serif
    font-weight: 400
%montserrat-bold
    font-family: "Montserrat", sans-serif
    font-weight: 700
%grishenko-opiyat-nbp
    font-family: "Grishenko Opiyat NBP"
    font-weight: 400