body {
  color: #fff;
  background-color: #403f3c;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-container {
  max-width: 1334px;
  margin: 0 auto;
}

.btn {
  background: #32c79e;
  cursor: pointer;
  border: none;
  border-radius: 52px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  -webkit-filter: drop-shadow(0px 0px 20px rgba(50, 199, 158, 0.5));
          filter: drop-shadow(0px 0px 20px rgba(50, 199, 158, 0.5));
}

.see-more-btn {
  padding: 23px 25px 23px 41px;
  margin-left: 24px;
  border-radius: 69px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  border: 5px solid #32c79e;
  background-color: transparent;
  color: #ffffff;
  max-height: 285px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.see-more-btn:hover {
  border: 5px solid #fff;
  color: #32c79e;
  background-color: #fff;
}

.btn-up {
  position: fixed;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  cursor: pointer;
  right: 5%;
  bottom: 5%;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-up:hover {
  background: #32c79e;
}

.btnUp--active {
  visibility: visible;
  opacity: 1;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.faq__accordion-label, .question__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.header {
  padding-top: 73px;
  margin-bottom: 105px;
  position: relative;
  z-index: 0;
}

.header__decor {
  position: absolute;
  z-index: -1;
  top: 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper-article {
  margin-top: -150px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__logo-next {
  position: absolute;
  top: 20%;
  left: -94px;
}

.header__logo-img {
  display: block;
}

.header__logo-title {
  display: block;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.header__nav {
  display: block;
  position: relative;
  height: 30px;
  width: 40px;
  cursor: pointer;
}

.menu-burger__header {
  position: relative;
  z-index: 2;
}

.menu-burger__header span {
  display: block;
  position: relative;
  height: 4px;
  width: 100%;
  background-color: #32c79e;
  border-radius: 20px;
}

.menu-burger__header span::before, .menu-burger__header span::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 4px;
  width: 100%;
  border-radius: 20px;
  background-color: #32c79e;
}

.menu-burger__header span::after {
  top: 20px;
}

.menu-burger__header span::before {
  top: 10px;
}

.page-menu-burger__header {
  position: relative;
  z-index: 2;
}

.page-menu-burger__header span {
  display: block;
  position: relative;
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
}

.page-menu-burger__header span::before, .page-menu-burger__header span::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 4px;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-menu-burger__header span::after {
  top: 20px;
}

.page-menu-burger__header span::before {
  top: 10px;
}

.burger__menu {
  display: none;
  position: absolute;
  cursor: default;
  top: -85px;
  left: -173px;
  width: 366px;
  padding: 60px 19px;
  background: #fff;
}

.burger__menu > li {
  margin-bottom: 45px;
}

.burger__menu > li:first-child {
  margin-top: 40px;
}

.burger__menu-active {
  display: block;
}

.menu__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #32c79e;
}

.burger-btn {
  width: 40px;
  height: 40px;
}

.burger-btn-active span {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  background-color: #32c79e;
  border-radius: 20px;
}

.burger-btn-active span::before, .burger-btn-active span::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 4px;
  width: 100%;
  border-radius: 20px;
  background-color: #32c79e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.burger-btn-active span::after {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-btn-active span::before {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.start-content {
  position: relative;
  z-index: -1;
}

.start-content-img {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("../images/start-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 137px;
}

.start__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start__center-left {
  width: 475px;
  height: 380px;
}

.start__info {
  max-width: 722px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

.start__info-subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.13em;
  text-align: right;
  color: #ffffff;
}

.start__info-title {
  margin-bottom: 38px;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.start__info-buttons {
  padding-bottom: 200px;
}

.start__info-sendme {
  padding: 28px 46px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #f5f5f5;
}

.start__info-seemore {
  padding: 23px 44px 23px 46px;
  margin-left: 24px;
  border-radius: 69px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  border: 5px solid #32c79e;
  background-color: transparent;
  color: #ffffff;
  max-height: 285px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.start__info-seemore:hover {
  border: 5px solid #fff;
  color: #32c79e;
  background-color: #fff;
}

.start__socials {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start__social {
  display: block;
  margin-bottom: 35px;
}

.start__social:hover {
  -webkit-filter: drop-shadow(0px 0px 20px rgba(50, 199, 158, 0.5));
          filter: drop-shadow(0px 0px 20px rgba(50, 199, 158, 0.5));
}

.view-page__look {
  position: fixed;
  z-index: 1;
}

.view-page__item {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.51);
  margin-bottom: 14px;
}

.view-page__link {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.view-page__link::before {
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: "";
  height: 2px;
  top: 10px;
  right: 28px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 45px;
}

.view-page__link-active {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.view-page__link-active::before {
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  height: 3px;
  top: 10px;
  right: 35px;
  background-color: #fff;
  width: 45px;
}

.about {
  position: relative;
  margin-bottom: 257px;
}

.about__images {
  position: relative;
  width: 100%;
  height: 100%;
}

.about__images-imagef {
  position: absolute;
  top: -120px;
  left: 181px;
}

.about__images-images {
  position: absolute;
  top: 0;
  right: -200px;
}

.about__images-imaget {
  position: absolute;
  top: 450px;
  left: -30px;
}

.about__img {
  background-size: cover;
  display: block;
  width: 475px;
  height: 475px;
  border-radius: 36px;
  margin-top: 36px;
  margin-left: -95px;
  position: relative;
  overflow: hidden;
  text-align: -webkit-center;
}

.about__img-link {
  width: 100%;
}

.about__info {
  max-width: 485px;
  margin-left: 85px;
}

.about__title {
  margin-top: 68px;
  padding-left: 20px;
  padding-bottom: 15px;
  display: block;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.13em;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.about__texts {
  padding-left: 33px;
}

.about__text {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.13em;
  font-weight: 400;
  color: #f1f1f1;
  margin-bottom: 21px;
  position: relative;
}

.about__text::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -12px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #32c79e;
}

.about__text:first-child {
  margin-bottom: 27px;
}

.about-block {
  margin-left: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 10px solid #32c79e;
  border-radius: 36px;
  max-width: 1045px;
  height: 474px;
}

.articles__images {
  position: relative;
  width: 100%;
  height: 100%;
}

.articles__images-imagef {
  position: absolute;
  top: -80px;
  right: -140px;
}

.articles__images-images {
  position: absolute;
  top: 100px;
  right: -67px;
  z-index: -1;
}

.articles__images-imaget {
  position: absolute;
  top: 250px;
  left: -330px;
}

.articles__items {
  margin-bottom: 61px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 274px 274px 274px 274px;
      grid-template-areas: "one one two two" "one one three four" "five six six six";
}

.articles__item {
  padding: 33px;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.articles__item:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.articles__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles__item-title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 24px;
  line-height: 129.4%;
  letter-spacing: 0.095em;
  text-transform: uppercase;
  color: #fff;
}

.articles__item-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.13em;
  color: #f1f1f1;
}

.articles__item-btn {
  padding: 15px 50px;
}

.articles__item-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: one;
  background-image: url("../images/articles/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -5px;
  margin-bottom: -11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles__item-two {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: two;
  background-image: url("../images/articles/2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articles__item-three {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: three;
  background-image: url("../images/articles/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articles__item-four {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: four;
  background-image: url("../images/articles/4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articles__item-five {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: five;
  background-image: url("../images/articles/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: -11px;
}

.articles__item-six {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: six;
  background-image: url("../images/articles/6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articles__items-btn {
  display: block;
  margin: 0 auto;
}

.see-more-btn {
  display: block;
  margin: 0 auto 154px auto;
  max-width: 322px;
}

.faq {
  margin-bottom: 83px;
}

.faq__title {
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.045em;
  color: #f1f1f1;
}

.faq__accordion-item:not(:last-child) {
  position: relative;
  border-bottom: 1px solid rgba(50, 199, 158, 0.5);
  padding-bottom: 26px;
  margin-bottom: 33px;
}

.faq__accordion-label {
  position: relative;
  cursor: pointer;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.08em;
  margin-bottom: 10px;
  color: #32c79e;
}

.faq__accordion-label::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../images/plus.svg");
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faq__accordion-label.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq__accordion-content {
  max-width: 714px;
  position: relative;
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faq__accordion-content p {
  font-size: 16px;
  line-height: 158.68%;
  letter-spacing: 0.145em;
  color: #f1f1f1;
}

.faq__accordion-content.active {
  height: 150px;
}

.question__title {
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 0.08em;
  color: #ffffff;
}

.question__form {
  margin-bottom: 96px;
}

.question__input {
  max-width: 560px;
  margin-right: 20px;
  width: 100%;
  background: #f1f1f1;
  border-radius: 65px;
  border: none;
  padding: 16px 0 16px 20px;
}

.question__btn {
  padding: 20px 35px;
  font-size: 13.1538px;
  line-height: 16px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #fff;
}

.footer {
  background: #32c79e;
  padding-top: 41px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 36px;
}

.footer__top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 53px;
}

.footer__top-logotext {
  font-weight: 800;
  font-size: 27.5439px;
  line-height: 34px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 36px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social:not(:last-child), .footer__social:not(:first-child) {
  margin: 0 17px;
}

.footer__social:hover {
  fill: #fff;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu-item:not(:first-child), .nav__menu-item:not(:last-child) {
  margin: 0 70px;
  display: block;
}

.nav__menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}

.highlighting {
  color: #403f3c;
}

.articles-bg img {
  display: block;
  margin: 0 auto;
}

.articles-bg {
  display: block;
}

.article-header__logo-img {
  margin: 0 auto;
  width: 100%;
  /* position: absolute; */
  margin-top: -73px;
  /* top: -70px; */
  z-index: -1;
}

.articles-view {
  margin-top: 150px;
  margin-bottom: 85px;
}

.articles-item {
  border-radius: 20px;
  padding: 22px 0 26px 77px;
  -webkit-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles-item__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.095em;
  text-transform: uppercase;
  color: #fff;
}

.articles-item__date {
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.095em;
  color: #ffffff;
}

.articles-item__btn {
  margin-right: 77px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.2em;
  color: #fff;
  padding: 16px 51px;
  border-radius: 54px;
  border: 4px solid #32c79e;
  background-color: transparent;
}

.articles-item__btn:hover {
  background: #36d9ac;
  border-radius: 54px;
  -webkit-filter: drop-shadow(4px 4px 15px rgba(50, 199, 158, 0.2));
          filter: drop-shadow(4px 4px 15px rgba(50, 199, 158, 0.2));
  border: 4px solid #36d9ac;
}

.articles-item__one {
  background-image: url("../images/articles/art1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles-item__two {
  background-image: url("../images/articles/art2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles-item__three {
  background-image: url("../images/articles/art3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles-item__four {
  background-image: url("../images/articles/art4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.articles-item:not(:last-child) {
  margin-bottom: 20px;
}

.page__title {
  max-width: 624px;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: 0.095em;
  text-transform: uppercase;
  color: #ffffff;
  color: #fff;
}

.page__date {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.095em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 44px;
}

.page-section__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.095em;
  color: #ffffff;
  margin-bottom: 12px;
}

.page-section__text {
  font-size: 18px;
  line-height: 141.4%;
  letter-spacing: 0.125em;
  color: #f1f1f1;
}

.page-section__img {
  display: block;
  border-radius: 22px;
}

.page-section__three-img-two {
  display: block;
  float: left;
  margin-right: 50px;
}

.page-section__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-section__one-text {
  margin-bottom: 73px;
}

.page-section__two-text {
  margin-bottom: 40px;
}

.page-section__three-text-block {
  margin-bottom: 58px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.125em;
  color: #f1f1f1;
}

.page-section__three-text {
  margin-bottom: 58px;
  max-width: 677px;
}

.page-section__three-img-one {
  margin-bottom: 20px;
}

.page-section__three-subtext {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.125em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.page-section__three-endtext {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.125em;
  color: #f1f1f1;
  margin-bottom: 100px;
}
/*# sourceMappingURL=style.css.map */